@import "tailwindcss";

body {
  background: #F1F1F1;
  font-family: "Futura PT", sans-serif;
  font-weight: 450;
}

.head {
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

.gen_text {
  font-family: "Futura PT", sans-serif;
  font-weight: 450;
}